<!-- <div *ngFor = "let proyecto od proyectos; let i = index">
    <div *ngIf = "()">

    </div>
</div> -->

<div class="col-lg-4">
    <div class="card">
        <div class="card-img-actions mx-1 mt-1">
            <a href="#course_preview" data-toggle="modal">
                <img src="../assets/global_assets/images/demo/flat/11.png" class="img-fluid card-img" alt="">
                <span class="card-img-actions-overlay card-img"><i class="icon-play3 icon-2x"></i></span>
            </a>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <h6 class="d-flex font-weight-semibold flex-nowrap mb-0">
                    <a href="#" class="text-default mr-2">{{proyecto.name}}</a>
                    <span class="text-success ml-auto">$49.99</span>
                </h6>

                <ul class="list-inline list-inline-dotted text-muted mb-0">
                    <li class="list-inline-item">By <a href="#" class="text-muted">Eugene Kopyov</a></li>
                    <li class="list-inline-item">Nov 1st, 2016</li>
                </ul>
            </div>

            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed <a href="#">[...]</a>
        </div>

        <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
            <ul class="list-inline list-inline-dotted mb-0">
                <li class="list-inline-item"><i class="icon-users mr-2"></i> 382</li>
                <li class="list-inline-item"><i class="icon-alarm mr-2"></i> 60 hours</li>
            </ul>

            <div class="mt-2 mt-sm-0">
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <span class="text-muted ml-1">(49)</span>
            </div>
        </div>
    </div>
</div>